<!DOCTYPE html>
<html>
<html lang="en">
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Personal Expense Tracker helps users manage daily expenses, budgets and financial records efficiently.">
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>

<!-- COMMON NAVBAR -->
<nav class="topbar">

<div class="brand">
<img src="{{ url_for('static', filename='logo.png') }}" class="mini-logo" alt="Expense Tracker Logo">
<span>Expense Tracker</span>
</div>

<div style="display:flex; gap:10px;">
<a href="/dashboard" class="logout-btn">Dashboard</a>
<a href="/records" class="logout-btn">Records</a>
<a href="/add" class="logout-btn">Add</a>
<a href="/analysis" class="logout-btn">Analysis</a>
<a href="/logout" class="logout-btn">Logout</a>
</div>

</nav>

<!-- PAGE CONTENT -->
<div class="dashboard-wrap">
{% block content %}{% endblock %}
</div>

</body>
</html>