<!DOCTYPE html>
<html>
<head>
<title>Forgot Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="auth-wrapper">
<div class="auth-card">

<img src="{{ url_for('static', filename='logo.png') }}" class="logo">

<h1>Reset Password</h1>
<p class="subtitle">Recover access securely</p>

<form method="POST">

<input type="email" name="email" placeholder="Registered Email" required>

<input type="text" name="username" placeholder="Username" required>

<input type="password" name="new_password" placeholder="New Password" required>

<input type="password" name="confirm_password" placeholder="Confirm Password" required>

{% if error %}
<p style="color:#dc2626; font-size:14px; text-align:left;">
{{ error }}
</p>
{% endif %}

{% if message %}
<p style="color:#16a34a; font-size:14px; text-align:left;">
{{ message }}
</p>
{% endif %}

<button type="submit">Reset Password</button>

</form>

<p class="small-text">Remembered password?</p>
<a href="/login" class="link-btn">Back to Login</a>

</div>
</div>

</body>
</html>